body {
    margin: 20px;
    background-color: #faebd7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#clock {
    visibility: hidden;
}
main {
    visibility: hidden;
}
#h2message {
    visibility: hidden;
}
#initials {
    visibility: hidden;
}
#rec-score-button {
    visibility: hidden;
}
#score-list {
    visibility: hidden;
}
